/* 
PALETTE

#ffe300 
#1c2744
#4169e1
*/

/* 
  SERVIZI INTRO
*/

.servizi-image-absolute-on-cover-container {
  position: absolute;
  right: 50%;
  transform: translatex(50%);
  bottom: 70px;
  max-width: 75% !important;
  z-index: -1;
}

.servizi-image-absolute-on-cover-container img {
  width: 100%;
}

.servizi-intro-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.servizi-intro-container .main-sponsor-logo-container {}

.servizi-intro-container .main-sponsor-logo-container img {
  width: 100%;
  max-width: 300px;
}

.servizi-intro-container .caption-container {}

.servizi-intro-container .caption-container .caption-text {
  background: #00000090;
  padding: 1rem;
  color: #ffe300;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.2rem;
}

.servizi-intro-container .sponsors-container {
  background: #00000090;
  padding: 1rem;
  color: #ffe300;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.servizi-intro-container .sponsors-container .img-container {}

.servizi-intro-container .sponsors-container .img-container img {
  width: 100%;
  max-width: 100px;
}

/* 
  SERVIZI BIG SQUARED BUTTONS WITH ICONS
*/

.servizi-cover-buttons-group-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(50%) translateX(-50%);
  z-index: 1;
  overflow: visible !important;
  display: flex;
  max-width: 1000px;
  gap: 0.2rem;
}

.servizi-cover-buttons-group-container .servizio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 200px;
  height: 200px;
  border-radius: 0.2rem;
  background: #ffe300;
  color: #1c2744;
  font-weight: bold;
}

.servizi-cover-buttons-group-container .servizio img {
  height: 60px;
}

.servizi-cover-1 {
  z-index: 2;
  overflow: visible;
}


/* 
  Servizi page - IL GRUPPO INTRO
*/
.servizi-image-absolute-on-cover-2-container {
  position: absolute;
  right: 50%;
  transform: translatex(50%);
  bottom: 70px;
  max-width: 75% !important;
  z-index: -1;
}

.il-gruppo-intro-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.il-gruppo-intro-container .img-container {
  width: 100%;
  max-width: 100px;
}

.il-gruppo-intro-container .img-container img {
  width: 100%;
}

.il-gruppo-intro-container .caption-container {}

.il-gruppo-intro-container .caption-container .caption-text {
  color: #1c2744;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.2rem;
}

.il-gruppo-intro-container .action-container {
  max-width: 300px;
}

.il-gruppo-intro-container .action-container .action-container-button {
  box-sizing: border-box;
  background: #FFE300;
  color: #1c2744;
  font-weight: bold;
  border-radius: .2rem;
  border: .2rem solid #e5ca00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  transition: .2s;
  text-wrap: nowrap;
  padding: 1rem;
}


/* 
HEADER
*/
.header-sponsors-container {
  display: flex;
}

.header-sponsors-container img {
  max-height: 50px;
}

/* 
homepage cover 1
*/
.homepage-cover-1 {
  overflow: visible !important;
  max-height: 500px !important;
  /* fallback to cover vh settings */
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.backdrop--dark {
  background: linear-gradient(90deg, #1c2744, #1c2744, transparent, transparent);
}

.backdrop--light {
  background: linear-gradient(180deg, #fff, #fff, transparent, transparent);
}


@media screen and (max-width: 600px) {
  .backdrop--dark {
    background: rgba(28, 39, 68, 0.85);
  } 
  .backdrop--light {
    background: rgba(255, 255, 255, 0.85);
  } 
}

.absolute-end-of-intro-sponsors {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  height: 200px;
  width: 50%;
}

.absolute-end-of-intro-sponsors .sponsors-internal-container {
  background: #00000000;
  display: flex;
  max-width: 550px;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

.absolute-end-of-intro-sponsors .column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.absolute-end-of-intro-sponsors .column.column-1 {
  justify-content: space-around;
}

.absolute-end-of-intro-sponsors .column.column-1 .column-box-group-2 {
  background: #000;
}

.absolute-end-of-intro-sponsors .column-box {}

.absolute-end-of-intro-sponsors .column-box img {
  width: 100%;
}

/* 
#intro-section-container
*/
.intro-section-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transform: translateY(25%);
}

.intro-section-container-paragraph {
  display: block;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}

.intro-section-container .logo-container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.intro-section-container .logo-container .logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin-right: 0rem;
}

.intro-section-container .logo-container .logo-icon img {
  height: 100%;
}

.intro-section-container .logo-container .logo-text h2 {
  margin: 0;
  padding: 0;
}

.intro-section-container .logo-container .logo-text h4 {
  margin: 0;
  padding: 0;
}

.text-block-container {
  border-radius: .2rem;
  line-height: 2rem;
}

@media screen and (max-width: 600px) {
  #intro-section-container.intro-section-container {
    transform: translateY(28%);
  }
  #intro-section-container.intro-section-container .logo-container {
    box-sizing: border-box;
    height: 60px!important;
    max-height: 60px!important;
  }
  #intro-section-container.intro-section-container .logo-container .logo-icon {
    height: 100%!important;
  }
  #intro-section-container.intro-section-container .logo-container .logo-icon img, 
  #intro-section-container.intro-section-container .logo-container .logo-text img {
    height: 50px!important;
  }
  #intro-section-container .intro-section-container-paragraph {
    font-size: 1rem!important;
    line-height: 1.2rem!important;
  }

  #intro-section-container .text-block-container-2 {
    font-size: 1rem!important;
    line-height: 1.2rem!important;
  }

  #intro-section-container .text-block-container-3 {
    font-size: 1rem!important;
    line-height: 1.2rem!important;
  }

}
/* BLOCK 1 */
.text-block-container-1 {
  color: #ffe300;
  font-weight: bold;
  word-wrap: break-word;
}

.text-block-container-1 .intro-section-container-paragraph {
  word-break: break-all;
  hyphens: auto !important;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;

}

/* BLOCK 2 */
.text-block-container-2 {
  background: #ffe300;
  color: #1c2744;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  font-weight: bold;
}

.text-block-container-2 .image-box {
  padding: 1rem;
  background: #fff;
  border-radius: .2rem;
}

.text-block-container-2 p.intro-section-container-paragraph {
  word-break: break-all;
  hyphens: auto;
  padding: 0rem 0rem 1rem 0rem !important;
}

.text-block-container-2 .image-box {
  width: 100%;
}

.text-block-container-2 .image-box img {
  width: 100%;
}

/* BLOCK 3 */
.text-block-container-3 {
  hyphens: auto;
  padding: 1rem;
  background: rgba(255, 255, 255, .95);
  color: #1c2744;
}

/* 
Section divider
*/
.section-divider {
  height: 2rem;
  width: 100%;
  background: repeating-linear-gradient(55deg,
      transparent,
      transparent 1rem,
      #ffe300 1rem,
      #ffe300 2.5rem);
}

/* 
Carousel
*/
.homepage-cover {
  position: relative;
  display: flex;
  align-items: center;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 20;
  top: 50%;
  transform: translateY(-50%);
  height: 55px;
  width: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}

.left-arrow {
  left: 20px;
  background-image: url('http://localhost/dalla-mora/wp-content/uploads/2024/02/arrow-left.png');
}

.right-arrow {
  right: 20px;
  background-image: url('http://localhost/dalla-mora/wp-content/uploads/2024/02/arrow-right.png');
}

/* - - - - - - - - - - - - - - - - - - - - - - - - */
/* FOOTER	     
/* - - - - - - - - - - - - - - - - - - - - - - - - */
#footer {
  position: relative;
  background: #1c2744;
  color: #fff;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
  box-sizing: border-box;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - */
/* column-left     
/* - - - - - - - - - - - - - - - - - - - - - - - - */
#footer .column-left {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  text-align: left;
}

/* ROW 1 */
#footer .column-left .row-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#footer .column-left .row-1 .img-box img {
  width: 100%;
}

#footer .column-left .row-1 .small-subtitle {
  font-weight: bold;
}

#footer .column-left .row-1 .address-details {
  display: flex;
  flex-direction: column;
}

/* ROW 2 */
#footer .column-left .row-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#footer .column-left .row-2 .img-box img {
  width: 100%;
}

#footer .column-left .row-2 .small-subtitle {
  font-weight: bold;
}

#footer .column-left .row-2 .address-details {
  display: flex;
  flex-direction: column;
}

/* ROW 3 */
#footer .column-left .row-3 .img-group-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#footer .column-left .row-3 .img-group-box .img-box img {
  width: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - */
/* column-center   
/* - - - - - - - - - - - - - - - - - - - - - - - - */
#footer .column-center {
  box-sizing: border-box;
  text-align: left;
  flex: 3;
  display: flex;
  gap: 1rem;
}

/* chi siamo - - - - */
#footer .column-center .chi-siamo-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#footer .column-center .chi-siamo-container .group-title {
  font-size: 2rem;
  font-weight: bold;
}

#footer .column-center .chi-siamo-container .group-links {
  display: flex;
  flex-direction: column;
}

/* servizi - - - - */
#footer .column-center .servizi-container .group-title {
  font-size: 2rem;
  font-weight: bold;
}

#footer .column-center .servizi-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#footer .groups-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#footer .group-links {
  display: flex;
  flex-direction: column;
}

#footer .subgroup-links {
  display: flex;
  flex-direction: column;
}

#footer .group-links .subtitle {
  font-size: 1.2rem;
  font-weight: bold;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - */
/* column-right  
/* - - - - - - - - - - - - - - - - - - - - - - - - */
#footer .column-right {
  box-sizing: border-box;
  text-align: left;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#footer .brochure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

#footer .brochure-container .title {
  font-size: 2rem;
}

#footer .brochure-container .download-brochure-button {
  box-sizing: border-box;
  background: #FFE300;
  color: #1c2744;
  font-weight: bold;
  border-radius: .2rem;
  border: .2rem solid #e5ca00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  transition: .2s;
  text-wrap: nowrap;
  padding: 1rem;
}

#footer .brochure-container .download-brochure-button:hover {
  transition: .2s;
  transform: scale(.98);
}

#footer .facebook-container {
  width: 100px;
  max-width: 120px;
}

#footer .facebook-icon-box {
  width: 100%;
  height: 100%;
}

#footer .facebook-icon-box img {
  width: 100%;
}

@media screen and (max-width: 600px) {

  #footer .footer-container {
    flex-direction: column;
  }

  #footer .column-left {
    text-align: center;
  }

  #footer .column-center {
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 0 1rem;
  }

  #footer .column-center .group-links {
    gap: 1rem;
  }

  #footer .column-right {
    width: 100%;
    gap: 2rem;
    margin: 1rem 0 2rem 0;
  }

  #footer .brochure-container .download-brochure-button {
    max-width: 80%;
  }

  #footer .facebook-icon-box {
    position: relative;
  }
}