  /* 
  PALETTE

  #ffe300 
  #1c2744
  #4169e1
  */


  /*
    CONTATTI COVER 1
  */

  .contatti-cover-1 {
    overflow: visible !important;
    z-index: 3;
  }

  .contatti-cover-1 .absolute-servizi-form-image {
    position: absolute;
    bottom: -1rem;
    left: 1rem;
    max-width: 75%;
    z-index: -1;
  }

  .contatti-cover-1 form {
    z-index: 2;
    border-radius: .2rem;
    background: #1c2744;
    padding: 2rem 1rem 1rem 1rem;
    box-shadow: .2rem .2rem 0px #4169e1;
    border: 1px solid #4169e1;
  }

  .contatti-cover-1 form label {
    color: #fff !important;
  }

  .contatti-cover-1 form label.title {
    font-size: 2rem;
  }

  .contatti-cover-1 form input,
  .contatti-cover-1 form textarea {
    background: #111;
    border: 1px solid #4169e1;
  }

  .contatti-cover-1 form input[type="submit"] {
    background: #ffe300;
    border: none;
    color: #1c2744;
  }

  /* 
    SERVIZI INTRO
  */

  .servizi-cover-1 {
    /* This code allow big squared buttons to appear in the second vertical half  */
    z-index: 2;
    overflow: visible;
  }

  .servizi-image-absolute-on-cover-container {
    position: absolute;
    right: 50%;
    bottom: 70px;
    transform: translatex(50%);
    max-width: 75% !important;
    z-index: -1;
  }

  .servizi-image-absolute-on-cover-container img {
    width: 100%;
  }

  .servizi-intro-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .servizi-intro-container .main-sponsor-logo-container {}

  .servizi-intro-container .main-sponsor-logo-container img {
    width: 100%;
    max-width: 300px;
  }

  .servizi-intro-container .caption-container {}

  .servizi-intro-container .caption-container .caption-text {
    padding: 1rem;
    color: #ffe300;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.2rem;
		width: 150%;
		text-shadow:
    -.1rem -.1rem 0 #000, .1rem -.1rem 0 #000, -.1rem .1rem 0 #000, .1rem .1rem 0 #000,
    .2rem .2rem 0 #000;
  }

  .servizi-intro-container .sponsors-container {
    padding: 1rem;
    color: #ffe300;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .servizi-intro-container .sponsors-container .img-container {}

  .servizi-intro-container .sponsors-container .img-container img {
    width: 100%;
    max-width: 100px;
  }

  /* 
    Servizi page - IL GRUPPO INTRO
  */

  .servizi-image-absolute-on-cover-2-container {
    position: absolute;
    right: 1rem;
    transform: translatex(0%);
    bottom: -60px;
    max-width: 75% !important;
    z-index: -1;
  }

  .il-gruppo-intro-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .il-gruppo-intro-container .img-container {
    width: 100%;
    max-width: 100px;
  }

  .il-gruppo-intro-container .img-container img {
    width: 100%;
  }

  .il-gruppo-intro-container .caption-container {}

  .il-gruppo-intro-container .caption-container .caption-text {
		background: #fff;
padding: 1rem;
		border-radius: .2rem;
    border: .2rem solid #1c2744;
    color: #1c2744;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .il-gruppo-intro-container .action-container {
    max-width: 300px;
  }

  .il-gruppo-intro-container .action-container .action-container-button {
    box-sizing: border-box;
    background: #FFE300;
    color: #1c2744;
    font-weight: bold;
    border-radius: .2rem;
    border: .2rem solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    transition: .2s;
    text-wrap: nowrap;
    padding: .8rem;
  }

  .il-gruppo-intro-container .action-container .action-container-button:hover {
		transform: scale(.95);
  }

  /* 
    SERVIZI BIG SQUARED BUTTONS WITH ICONS
  */

  .services-features-container {
    display: flex;
    flex-direction: column;
  }

  .services-features-container .service-feature-container {
    display: flex;
    background: #1c2744;
    height: 400px;
  }

  .services-features-container .service-feature-container:nth-child(even) {
    background: #4169e1;
  }

  .services-features-container .service-feature-container {}

  .services-features-container .service-feature-container .icon-container {
    background-color: rgb(60, 38, 38);
    color: #fff;
    flex: 1;
  }

  .services-features-container .service-feature-container .services-features-container-title {
    color: #fff;
  }

  .services-features-container .service-feature-container .text-container {
    background-color: rgb(37, 51, 37);
    color: #fff;
    flex: 3;
  }

  .servizi-cover-buttons-group-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
    z-index: 1;
    overflow: visible !important;
    display: flex;
    max-width: 1000px;
    gap: 0.2rem;
  }

  .servizi-cover-buttons-group-container .servizio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 200px;
    height: 200px;
    border-radius: 0.2rem;
    background: #ffe300;
    color: #1c2744;
    font-weight: bold;
    transition: .2s;
    cursor: pointer;
    border: .2rem solid #000;
  }

  .servizi-cover-buttons-group-container .servizio:hover {
    transform: scale(.95);
  }

  .servizi-cover-buttons-group-container .servizio img {
    height: 80px;
  }

  /* 
    SERVIZI FORM
  */

  .servizi-cover-3 {
    overflow: visible !important;
    z-index: 3;
  }

  .servizi-cover-3 .absolute-servizi-form-image {
    position: absolute;
    bottom: -1rem;
    left: 1rem;
    max-width: 75%;
    z-index: -1;
  }

  .servizi-cover-3 form {
    transform: translateY(-10%);
    z-index: 2;
    border-radius: .2rem;
    background: #1c2744;
    padding: 2rem 1rem 1rem 1rem;
    box-shadow: .2rem .2rem 0px #4169e1;
    border: 1px solid #4169e1;
  }

  .servizi-cover-3 form label {
    color: #fff !important;
  }

  .servizi-cover-3 form label.title {
    font-size: 2rem;
  }

  .servizi-cover-3 form input,
  .servizi-cover-3 form textarea {
    background: #111;
    border: 1px solid #4169e1;
  }

  .servizi-cover-3 form input[type="submit"] {
    background: #ffe300;
    border: none;
    color: #1c2744;
  }

  /* 
    Servizi page - Big services rows
  */

  #services-big-rows.services-rows-container {
    display: flex;
    flex-direction: column;
    color: #fff;
  }

  #services-big-rows .service-feature-container {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #services-big-rows .service-feature-container:nth-child(odd) {
    width: 100%;
    background: #4169e1;
  }

  #services-big-rows .service-feature-container:nth-child(even) {
    width: 100%;
    background: #1c2744;
  }

  #services-big-rows .service-feature-content {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  #services-big-rows .service-feature-content .icon-container {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  #services-big-rows .service-feature-content .icon-container img {
    width: 120px;
  }

  #services-big-rows .service-feature-content .icon-container .title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  #services-big-rows .service-feature-content .text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    flex: 3;
  }

  #services-big-rows .service-feature-content .text-container .services-features-container-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
  }

  #services-big-rows .service-feature-content .text-container .description-list-container {}

  #services-big-rows .service-feature-content .text-container .description-list-container ul {
    padding-left: 1rem;
    max-height: 100%;
    column-count: 2;
    column-gap: 2rem;
  }

  #services-big-rows .service-feature-content .text-container .description-list-container ul li {
    text-transform: uppercase;
  }

  #services-big-rows .service-feature-content .text-container .service-feature-button {
    box-sizing: border-box;
    background: #ffe300;
    color: #1c2744;
    font-weight: bold;
    border-radius: 0.2rem;
		border: .2rem solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    transition: 0.2s;
    text-wrap: nowrap;
    padding: .8rem;
  }

  #services-big-rows .service-feature-content .text-container .service-feature-button:hover {
    transform: scale(.95);
}

  @media screen and (max-width: 600px) {

    .servizi-image-absolute-on-cover-container {
      position: absolute;
      bottom: 250px;
      right: 1rem;
      transform: translatex(0%);
      max-width: 75% !important;
      z-index: 0;
    }

    .servizi-image-absolute-on-cover-2-container {
      position: absolute;
      right: 50%;
      transform: translatex(50%);
      bottom: 0px;
      z-index: 1;
    }

    .il-gruppo-intro-container .img-container {
      max-width: 80px;
    }

    .il-gruppo-intro-container {
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    .il-gruppo-intro-container .caption-container .caption-text {
      font-size: 1rem;
      line-height: 1.2rem;
    }

    .il-gruppo-intro-container .action-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .il-gruppo-intro-container .action-container .action-container-button {
      width: 80%;
    }

    #services-big-rows .service-feature-container {
      height: 100% !important;
    }

    #services-big-rows .service-feature-content .text-container .description-list-container ul {
      padding-left: 0.5rem;
      max-height: 100%;
      column-count: 1;
      column-gap: 0rem;
    }

    #services-big-rows .service-feature-content {
      padding: 1rem;
      max-width: 100%;
      flex-direction: column;
    }

    #services-big-rows .service-feature-content .icon-container img {
      width: 60px;
    }

    #services-big-rows .service-feature-content .icon-container .title {
      display: none;
    }

    #services-big-rows .service-feature-content .text-container .services-features-container-title {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .servizi-intro-container {
      margin-top: 1rem !important;
    }

    .servizi-intro-container .caption-container .caption-text {
      font-size: 1rem !important;
      line-height: 1.2rem !important;
    }

    .servizi-intro-container .main-sponsor-logo-container {}

    .servizi-intro-container .main-sponsor-logo-container img {
      max-width: 200px;
    }

    .servizi-intro-container {
      text-align: center;
      gap: 0rem;
    }

    .servizi-cover-buttons-group-container {
      position: relative;
      left: 0;
      transform: unset;
      background: rgba(28, 39, 68, 0.85);
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
      gap: .4rem;
      padding: .4rem;
      font-size: 1rem;
    }

    .servizi-cover-buttons-group-container .servizio {
      height: 120px;
      width: calc(50% - .2rem);
    }

    .servizi-cover-buttons-group-container .servizio img {
      height: 40px;
    }
  }

  /* 
  HEADER
  */
  .header-sponsors-container {
    display: flex;
  }

  .header-sponsors-container img {
    max-height: 50px;
  }

  /* 
  homepage cover 1
  */
  .homepage-cover-1 {
    overflow: visible !important;
    max-height: 500px !important;
    /* fallback to cover vh settings */
  }

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .backdrop--dark {
    background: linear-gradient(90deg, #1c2744, #1c2744, transparent, transparent);
  }

  .backdrop--light {
    background: linear-gradient(180deg, #fff, #fff, transparent, transparent);
  }


  @media screen and (max-width: 600px) {
    .backdrop--dark {
      background: rgba(28, 39, 68, 0.85);
    }

    .backdrop--light {
      background: rgba(255, 255, 255, 0.85);
    }
  }

  .absolute-end-of-intro-sponsors {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    height: 200px;
    width: 50%;
  }

  .absolute-end-of-intro-sponsors .sponsors-internal-container {
    background: #00000000;
    display: flex;
    max-width: 550px;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
  }

  .absolute-end-of-intro-sponsors .column {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
  }

  .absolute-end-of-intro-sponsors .column.column-1 {
    justify-content: space-around;
  }

  .absolute-end-of-intro-sponsors .column.column-1 .column-box-group-2 {
    background: #000;
  }

  .absolute-end-of-intro-sponsors .column-box {}

  .absolute-end-of-intro-sponsors .column-box img {
    width: 100%;
  }

  /* 
  #intro-section-container
  */
  .intro-section-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: translateY(25%);
  }

  .intro-section-container-paragraph {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
  }

  .intro-section-container .logo-container {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .intro-section-container .logo-container .logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin-right: 0rem;
  }

  .intro-section-container .logo-container .logo-icon img {
    height: 100%;
  }

  .intro-section-container .logo-container .logo-text h2 {
    margin: 0;
    padding: 0;
  }

  .intro-section-container .logo-container .logo-text h4 {
    margin: 0;
    padding: 0;
  }

  .text-block-container {
    border-radius: .2rem;
    line-height: 2rem;
  }

  @media screen and (max-width: 600px) {
    #intro-section-container.intro-section-container {
      transform: translateY(28%);
    }

    #intro-section-container.intro-section-container .logo-container {
      box-sizing: border-box;
      height: 60px !important;
      max-height: 60px !important;
    }

    #intro-section-container.intro-section-container .logo-container .logo-icon {
      height: 100% !important;
    }

    #intro-section-container.intro-section-container .logo-container .logo-icon img,
    #intro-section-container.intro-section-container .logo-container .logo-text img {
      height: 50px !important;
    }

    #intro-section-container .intro-section-container-paragraph {
      font-size: 1rem !important;
      line-height: 1.2rem !important;
    }

    #intro-section-container .text-block-container-2 {
      font-size: 1rem !important;
      line-height: 1.2rem !important;
    }

    #intro-section-container .text-block-container-3 {
      font-size: 1rem !important;
      line-height: 1.2rem !important;
    }

  }

  /* BLOCK 1 */
  .text-block-container-1 {
    color: #ffe300;
    font-weight: bold;
    word-wrap: break-word;
  }

  .text-block-container-1 .intro-section-container-paragraph {
    text-shadow:
    -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000,
    2px 2px 0 #000;
    word-break: break-all;
    hyphens: auto !important;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;

  }

  /* BLOCK 2 */
  .text-block-container-2 {
    background: #ffe300;
    color: #1c2744;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    font-weight: bold;
    box-shadow: -0.2rem 0.2rem 0px #1c2744;
    border: 1px solid #1c2744;
  }

  .text-block-container-2 .image-box {
    padding: 1rem;
    background: #fff;
    border-radius: .2rem;
  }

  .text-block-container-2 p.intro-section-container-paragraph {
    word-break: break-all;
    hyphens: auto;
    padding: 0rem 0rem 1rem 0rem !important;
  }

  .text-block-container-2 .image-box {
    width: 100%;
  }

  .text-block-container-2 .image-box img {
    width: 100%;
  }

  /* BLOCK 3 */
  .text-block-container-3 {
    hyphens: auto;
    padding: 1rem;
    background: rgba(255, 255, 255, .95);
    color: #1c2744;
  }

  /* 
  Section divider
  */
  .section-divider {
    height: 2rem;
    width: 100%;
    background: repeating-linear-gradient(55deg,
        transparent,
        transparent 1rem,
        #ffe300 1rem,
        #ffe300 2.5rem);
  }

  /* 
  Carousel
  */
  .homepage-cover {
    position: relative;
    display: flex;
    align-items: center;
  }

  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 20;
    top: 50%;
    transform: translateY(-50%);
    height: 55px;
    width: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .left-arrow {
    left: 1.2rem;
    background-image: url('http://localhost/dalla-mora/wp-content/uploads/2024/02/arrow-left.png');
  }

  .right-arrow {
    right: 1.2rem;
    background-image: url('http://localhost/dalla-mora/wp-content/uploads/2024/02/arrow-right.png');
  }

  @media screen and (max-width: 600px) {
    .arrow {
      height: 40px;
      width: 20px;
      opacity: .5;
    }
    .left-arrow {
      left: 0rem;
      background-image: url('http://localhost/dalla-mora/wp-content/uploads/2024/02/arrow-left.png');
    }
  
    .right-arrow {
      right: 0rem;
      background-image: url('http://localhost/dalla-mora/wp-content/uploads/2024/02/arrow-right.png');
    }
  }



  /* - - - - - - - - - - - - - - - - - - - - - - - - */
  /* FOOTER	     
  /* - - - - - - - - - - - - - - - - - - - - - - - - */
  #footer {
    position: relative;
    color: #fff;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4rem;
    box-sizing: border-box;
  }

  /* - - - - - - - - - - - - - - - - - - - - - - - - */
  /* column-left     
  /* - - - - - - - - - - - - - - - - - - - - - - - - */
  #footer .column-left {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    text-align: left;
  }

  /* ROW 1 */
  #footer .column-left .row-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #footer .column-left .row-1 .img-box img {
    width: 100%;
  }

  #footer .column-left .row-1 .small-subtitle {
    font-weight: bold;
  }

  #footer .column-left .row-1 .address-details {
    display: flex;
    flex-direction: column;
  }

  /* ROW 2 */
  #footer .column-left .row-2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #footer .column-left .row-2 .img-box img {
    width: 100%;
  }

  #footer .column-left .row-2 .small-subtitle {
    font-weight: bold;
  }

  #footer .column-left .row-2 .address-details {
    display: flex;
    flex-direction: column;
  }

  /* ROW 3 */
  #footer .column-left .row-3 .img-group-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #footer .column-left .row-3 .img-group-box .img-box img {
    width: 100%;
  }

  /* - - - - - - - - - - - - - - - - - - - - - - - - */
  /* column-center   
  /* - - - - - - - - - - - - - - - - - - - - - - - - */
  #footer .column-center {
    box-sizing: border-box;
    text-align: left;
    flex: 3;
    display: flex;
    gap: 1rem;
  }

  /* chi siamo - - - - */
  #footer .column-center .chi-siamo-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #footer .column-center .chi-siamo-container .group-title {
    font-size: 2rem;
    font-weight: bold;
  }

  #footer .column-center .chi-siamo-container .group-links {
    display: flex;
    flex-direction: column;
  }

  /* servizi - - - - */

  #footer .column-center .servizi-container {
    column-count: 2;
    column-gap: 2rem;
  }

  #footer .column-center .servizi-container .group-title {
    font-size: 2rem;
    font-weight: bold;
  }

  #footer .column-center .servizi-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #footer .groups-container {
    column-count: 2;
    column-gap: 2rem;
  }

  #footer .group-title {
    border-radius: .2rem;
    margin: 1rem 0rem;
  }

  #footer .group-category {
    font-weight: bold;
    border-radius: .2rem;
    background: #00000010;
    margin: 1rem 0rem;
  }

  #footer .column-center-link {
    padding-left: 1rem;
    line-height: 1.4rem;
  }

  /* - - - - - - - - - - - - - - - - - - - - - - - - */
  /* column-right  
  /* - - - - - - - - - - - - - - - - - - - - - - - - */
  #footer .column-right {
    box-sizing: border-box;
    text-align: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  #footer .brochure-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }

  #footer .brochure-container .title {
    font-size: 2rem;
  }

  #footer .brochure-container .download-brochure-button {
    box-sizing: border-box;
    background: #FFE300;
    color: #1c2744;
    font-weight: bold;
    border-radius: .2rem;
    border: .2rem solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    transition: .2s;
    text-wrap: nowrap;
    padding: .8rem;
  }

  #footer .brochure-container .download-brochure-button:hover {
    transition: .2s;
    transform: scale(.95);
  }

  #footer .facebook-container {
    width: 100px;
    max-width: 120px;
  }

  #footer .facebook-icon-box {
    width: 100%;
    height: 100%;
  }

  #footer .facebook-icon-box img {
    width: 100%;
  }

  @media screen and (max-width: 600px) {

    #footer .footer-container {
      flex-direction: column;
    }

    #footer .column-left {
      text-align: center;
    }

    #footer .column-center {
      flex-direction: column;
      text-align: center;
      width: 100%;
      padding: 0 1rem;
    }

    #footer .column-center .group-links {
      gap: 1rem;
    }

    #footer .column-right {
      width: 100%;
      gap: 2rem;
      margin: 1rem 0 2rem 0;
    }

    #footer .brochure-container .download-brochure-button {
      max-width: 80%;
    }

    #footer .facebook-icon-box {
      position: relative;
    }

    #footer .groups-container {
      column-count: 1;
      column-gap: 0rem;
    }
  }