#lavori-eseguiti-gallery .main-container {
  padding: 1rem;
}

#lavori-eseguiti-gallery .gallery-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  gap: 1rem;
}

#lavori-eseguiti-gallery .img-box {
  cursor: pointer;
  border: 1px solid black;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}

#lavori-eseguiti-gallery .backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#lavori-eseguiti-gallery .preview-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  max-width: 1000px;
  margin: 0 auto;
}

#lavori-eseguiti-gallery .preview-content {
  max-width: 90%;
  max-height: 90%;
}

@media (max-width: 600px) {
  #lavori-eseguiti-gallery .gallery-grid-container {
      grid-template-columns: 1fr;
  }
}
